/* common CSS */
/*자세히보기 button*/
/*04 activity, 05 holt-family title */
.main-activity-content h2,
#holt-family h2{
  color: var(--color-main);
}
.main-activity-content h2 img,
#holt-family h2 img {
  transform: translateY(7px);
  width: 30px;
  margin-right: 4px;
}

/*전체보기 button*/
.announcement > a,
.main-activity-content > a {
  font-size: 14px;
  display: block;
  position: absolute;
  transition: .4s;
  color: var(--color-main);
}
.announcement > a:hover,
.main-activity-content > a:hover {
  transform: translateX(5px);
  font-weight: bold;
}



/*content CSS*/
/* 01 main-visual */

.main-visual {
  width: 100%;
  background-image: url('/resorces/images/main/visual-back-01.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* slick(before, after)-button */
.visual-slide .slick-prev,
.visual-slide .slick-next {
  width: 35px;
  height: 35px;
  border: 1px solid var(--color-gray);
  background-color: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  font-size: 0;
  transition: .4s;
}
.visual-slide .slick-prev:hover,
.visual-slide .slick-next:hover {
  background-color: white;
}
.visual-slide .slick-prev:hover {
  left: -8px;
}
.visual-slide .slick-next:hover {
  right: -8px;
}
.visual-slide .slick-prev {
  left: 0;
}
.visual-slide .slick-next {
  right: 0;
}
.visual-slide .slick-prev:before,
.visual-slide .slick-next:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: black;
  font-size: 16px;
}
.visual-slide .slick-prev:before {
  content: '\f060';
}
.visual-slide .slick-next:before {
  content: '\f061';
}

/* slick-dot */
.slick-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
}
.slick-dots li {
  list-style: none;
  display: inline-block;
}
.slick-dots li button {
  border: none;
  font-size: 0;
  width: 30px;
  height: 4px;
  margin-right: 5px;
  background-color: var(--color-gray);
}
.slick-dots li.slick-active button {
  background-color: var(--color-main);
}

/* slide */
.visual-slide {
  width: 1170px;
  margin: auto;
  height: 500px;
  position: relative;
}

/* slider */
.slider-wrap {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.slider-text {
  width: 470px;
  margin-right: 30px;
}
.slider-text h2 {
  font-size: 40px;
  margin-bottom: 20px;
}
.slider-text h2 strong {
  display: block;
  font-size: 30px;
}
.slider-text p {
  margin-bottom: 60px;
  font-size: 18px;
}
.slider-text a {
  display: block;
  width: 120px;
  padding: 3px;
  border: 2px solid var(--color-main);
  color: var(--color-main);
  background-color: white;
  text-align: center;
  line-height: 28px;
  font-size: 1rem;
  font-weight: 600;
  transition: 300ms;
}
.slider-text a:hover {
  color: white;
  background-color: var(--color-main);
}
.slider-img {
  display: block;
  width: 400px;
}
.slider-img img {
  width: 100%;
}

/*파티용품, 늘봄심리상담센터, 반찬나눔*/
.party .slider-img,
.sharing-dishes .slider-img,
.counseling .slider-img {
  border: 5px solid var(--color-lightmain);
  box-shadow: 5px 5px 10px rgba(99, 99, 99, 0.3);
}
/*복지관 소개*/
.love-in-action .slider-text p span {
  display: block;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 10px;
}
/*반찬 나눔*/
.sharing-dishes .slider-text p span {
  font-size: 0.9rem;
  color: gray;
}
.sharing-dishes .slider-text > span {
  display: inline-block;
  padding: 3px 17px;
  border-radius: 10px;
  color: var(--color-main);
  background-color: white;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
}
.sharing-dishes .slider-text p {
  margin-bottom: 30px;
}

/* 02 support */
#main-support {
  background-color: var(--color-silver);
}
.support-items {
  overflow: hidden;
}
.support-item {
  width: 370px;
  height: 245px;
  padding: 40px 50px;
  position: relative;
  z-index: 0;
  text-align: center;
  color: white;
  margin-right: 30px;
  float: left;
  transition: .8s;
}
.support-item:nth-child(1) {
  background: url(../images/main/support1.jpg) no-repeat center center;
  background-size: 100%;
}
.support-item:nth-child(2) {
  background: url(../images/main/support2.jpg) no-repeat center center;
  background-size: 100%;
}
.support-item:last-child {
  background: url(../images/main/support3.jpg) no-repeat center center;
  margin-right: 0;
  background-size: 100%;
}
.support-item:hover {
  background-size: 110%;
}
.support-item::before {
  content: '';
  position: absolute;
  width: 330px;
  height: 205px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: .8;
  z-index: -1;
}
.support-item:nth-child(1)::before {
  background-color: var(--color-blue);
}
.support-item:nth-child(2)::before {
  background-color: black;
}
.support-item:nth-child(3)::before {
  background-color: var(--color-orange);
}
.support-item h2 {
  padding: 10px 0;
}
.support-item p {
  font-size: 14px;
  padding-bottom: 15px;
}
.support-item a {
  display: inline-block;
  padding: 3px 17px;
  color: white;
  font-size: 14px;
  border: 1px solid white;
  transition: .4s;
}
.support-item a:hover {
  color: yellow;
  font-weight: bold;
}
.support-item:nth-child(1) a:hover {
  background-color: var(--color-blue);
}
.support-item:nth-child(2) a:hover {
  background-color: var(--color-black);
}
.support-item:nth-child(3) a:hover {
  background-color: var(--color-orange);
}

/* 03 infomation */
article {
  margin-bottom: 20px;
}
article:last-child {
  margin: 0;
}

/* 03-1 service */
.service {
  display: flex;
}
.service a {
  display: inline-block;
  width: 270px;
  height: 175px;
  border: 1px solid var(--color-silver);
  border-radius: 8px;
  margin-right: 30px;
  padding: 20px;
  position: relative;
  transition: .4s;
}
.service a:hover {
  transform: translateY(-5px);
  background-color: var(--color-lightmain);
}
.service a:last-child {
  margin-right: 0;
}
.service a h2 {
  margin-bottom: 10px;
}
.service a img {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

/* 03-2 guidance */
.guidance {
  display: flex;
}
.guidance > div {
  width: 570px;
  height: 175px;
  border-radius: 8px;
  padding: 30px;
}
.guidance > div:nth-child(1) {
  background-color: var(--color-lightblue);
  margin-right: 30px;
}
.guidance > div:nth-child(2) {
  background-color: var(--color-lightmain);
}
.guidance > div .guidance-desc {
  float: left;
}
.guidance > div > img {
  width: 115px;
  float: right;
}
.guidance-desc a {
  display: inline-block;
  padding: 3px 17px;
  color: black;
  font-size: 14px;
  border: 1px solid black;
  transition: .4s;
}
.guidance-desc a:hover {
  font-weight: bold;
  background-color: var(--color-silver);
}
.guidance-desc p {
  margin-bottom: 20px;
}
.guidance-desc span img {
  width: 30px;
  margin-right: 10px;
  transform: translateY(8px);
}
.guidance-desc span {
  font-size: 20px;
}

/* 03-3 notice */
.notice {
  display: flex;
}
.notice-item {
  width: 570px;
  height: 170px;
}
.notice-item h3 {
  font-size: 18px;
}
.related-sites {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-right: 30px;
}
.related-sites::before, .related-sites::after {
  content: '';
  background-color: var(--color-silver);
  position: absolute;
  transition: .4s;
}
.related-sites::before {
  width: inherit;
  height: 1px;
  top: 50%;
}
.related-sites::after {
  height: inherit;
  width: 1px;
  left: 50%;
  z-index: 4;
}
.related-sites:hover::before, .related-sites::after {
  opacity: 0;
}
.site-item {
  display: block;
  width: 285px;
  height: 85px;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  align-items: center;
  transition: .4s;
}
.site-item:hover {
  background-color: var(--color-lightmain);
  transform: translateY(-5px);
}
.site-item img {
 height: 75px;
 margin-right: 10px;
}
.site-item h3 span {
  font-size: 14px;
  display: block;
}
.announcement {
  position: relative;
}
.announcement h3 {
  margin-bottom: 10px;
}
.announcement li {
  padding: 2px 0;
}
.announcement li a {
  display: inline-block;

}
.announcement li a:hover {
  font-weight: bold;
}
.announcement li a em {

}
.announcement span {
  float: right;
  font-size: 14px;
  color: gray;
}

/* 전체보기 button */
.announcement > a {
  top: 3px;
  right: 0;
}

/* 04 activity story */
#main-activity {
  background: url(../images/main/activity-back.jpg) no-repeat center center;
  background-size: 100%;
  position: relative;
  width: 100%;
  z-index: 0;
}
#main-activity::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-main);
  opacity: .7;
  z-index: 0;
}
.main-activity-content {
  width: 1170px;
  background-color: white;
  padding: 50px;
  margin: auto;
  position: relative;
}
.main-activity-content p {
  margin-bottom: 30px;
}
.main-activity-items {
  display: flex;
  justify-content: space-between;
}
.main-activity-item {
  position: relative;
  width: 335px;
}
.main-activity-item em {
  font-size: 12px;
  background-color: white;
  padding: 3px 5px;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.39);
}
.main-activity-item img {
  width: 100%;
  margin-bottom: 3px;
}
.main-activity-item h3 {
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* 전체보기 button */
.main-activity-content > a {
  top: 80px;
  right: 30px;
}

/* 05 holt-family */
#holt-family {
  position: relative;
}
#holt-family h2 {
  margin-bottom: 10px;
}
.holt-slider {
  width: 1170px;
  margin: auto;
}
.holt-slider .slick-slide {
  height: 40px;
  margin: 10px;
  border: 1px solid var(--color-silver);
  overflow: hidden;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  background: var(--color-lightgray);
}
.holt-slider .slick-slide img {
  width: 100%;
}
/* holt-slider button */
.holt-slider .slick-prev,
.holt-slider .slick-next {
  border: 1px solid var(--color-gray);
  font-size: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
}
.holt-slider .slick-prev {
  top: -35px;
  right: 45px;
}
.holt-slider .slick-next {
  top: -35px;
  right: 15px;
}
.holt-slider .slick-prev::before,
.holt-slider .slick-next::before {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--color-gray);
}
.holt-slider .slick-prev::before {
  content:'\f060';
}
.holt-slider .slick-next::before {
  content:'\f061';
}