section {
   padding: 100px 0;
}

.main-visual {
    height: 300px;
    background-color: var(--color-lightblue);
}

/*메인뉴스*/
.main-news {
    width: 100%;
    
}
.main-news > article {
    margin:0 auto;
    display: flex;
    width: 1200px;
}

/*늘봄심리상담, 사파리하우스, 홀트패밀리*/
.main-news > article.service {
    margin-bottom: 40px;
}
.main-news > article.service > div {
    flex: 1;
    border-right : 1px solid var(--color-gray);
    padding: 20px 40px;
    box-sizing: border-box;
}
.main-news > article.service > div:last-child {
    border: none;
}
.main-news > article.service > .service-item {
    display : flex;
    justify-content: space-between;
    align-items: center;
}
.main-news > article.service > .service-item h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.service-item > .service-image {
    width: 80px;
    height: 80px;
}
.service-image a {
    display: block;
    width: 100%;
    height: 100%;
}
.service-image a img {
    width: 100%;
}

/*공지사항, 교육 프로그램*/
.notice-item {
    border : 1px solid black;
}
.notice-item.notice-list {
    width: 690px;
    margin-right: 30px;
    padding: 20px;
    position: relative;
    z-index: 0
}

.notice-list h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

.notice-list h3:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--color-gray);
    margin: 10px 0;
}
.notice-list div span {
    display: block;
    padding: 5px 0;
}

.notice-list > a {
    position: absolute;
    top: 35px;
    right: 20px;
}

/*교육프로그램*/
.notice-item.edu-program {
    width: 480px;
}
.edu-program {
    background-image: url('../images/main/eduprogram.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}
.edu-program:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.548);
}

.edu-program a{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;

}

.edu-program a h3{
    font-size: 1.5rem;
    font-weight: 600;
}

/*현장이야기*/
.main-activity {
    background-color: var(--color-lightgray);
    display: flex;
    justify-content: center;
    width: 100%;
}
.activity-wrap {
    position: relative;
    width: 1200px;
}
.main-activity .activity-title {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.main-activity .activity-title h2 {
    font-size: 2rem;
    margin-right: 20px;
}
.main-activity .activity-title p {
    font-size: 1.25rem;
}
.main-activity .activity-title span {
    color: var(--color-main);
    font-weight: 600;

}
.main-activity .activity-wrap > .view-all {
    position: absolute;
    top: 15px;
    right: 0;
}
.main-activity .activity-content {
    display: flex;
    justify-content: space-between;
    
}
.main-activity .activity-content > .activity-list {
    width: 380px;
    height: 400px;
    border: 1px solid var(--color-gray);
}
.main-activity .activity-content > .activity-list > a {
    display: block;

    position: relative;
}/*지체장애인을 위한 영역표시*/

.main-activity .activity-content > .activity-list > a > .activity-img {
    overflow: hidden;
    width: 100%;
    height: 250px;
    position:relative;
}
.activity-img img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.activity-text {
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
}
.activity-text p {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 30px;
}

.activity-text > .btn {
    display: block;
    width: 97px;
    height: 26px;
    border : 2px solid var(--color-main);
    border-radius: 20px;
    color: var(--color-main);
    text-align: center;
    line-height: 26px;
    font-size: 0.9rem;
    font-weight: 600;
    margin-top: 20px;
    transition: 300ms;
}
.activity-text > .btn:hover {
    color: white;
    background-color: var(--color-main);
}
.main-activity .activity-content > .activity-list > a > em {
    position: absolute;
    top: 0;
    width: 97px;
    height: 32px;
    background-color: white;
    text-align: center;
    line-height: 32px;
    font-weight: 600;
    font-size: 1rem;
}

/*나눔이 필요한 이웃690px * 480px*/
.main-support {
    width: 100%;
}
.main-support article{
    margin: 0 auto;
    display: flex;
    width: 1200px;
    color: white;
}
/*고통은 더하고~*/
.main-support > h2 {
    margin-bottom: 70px;
}
.main-support > h2 p{
    font-size: 2rem;
    text-align: center;
}
/*나눔이필요한 이웃*/
.main-support > .support-neighbor {
    margin-bottom: 80px;
}

.support-neighbor .neighbor-title {
    width: 400px;
    height: 400px;
    background-color: var(--color-main);
    margin-right: 30px;
    padding: 40px;
    box-sizing: border-box;
    position: relative;
}

.support-neighbor a {
    display: block;
    width: 97px;
    height: 26px;
    border : 2px solid white;
    border-radius: 20px;
    color: white;
    text-align: center;
    line-height: 26px;
    font-size: 0.9rem;
    font-weight: 600;
    transition: 300ms;
    position: absolute;
}

.neighbor-title > h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 130px;
}

.neighbor-title p {
    font-size: 1.25rem;
}


.support-neighbor .neighbor-title a {
    bottom: 30px;
}
.neighbor-title a:hover {
    background-color: white;
    color: var(--color-main);
}
.neighbor-content a:hover {
    background-color: white;
    color: black;
}
.main-support > .support-neighbor .neighbor-content {
    width: 770px;
    height: 400px;
    background-color: rosybrown;
    position: relative;
}
.neighbor-content .neighbor-img {
    width: inherit;
    height: inherit;
    overflow: hidden;
    position: relative;
}
.neighbor-content .neighbor-img img{
    width: 100%;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.neighbor-text {
    width: 100%;

    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    padding: 20px;
    box-sizing: border-box;
}
.neighbor-text > h3 {
    font-size: 1.75rem;
    margin-bottom: 10px;
}
.neighbor-text .in-progress{
    color:black;
    background-color: white;
    margin-left: 10px;
    font-size: 0.9rem;
    font-weight: 600;
}
.neighbor-text > a {
    bottom: 20px;
    right: 20px;
}

/*후원하기*/
.main-support .support-apply .apply-donate {
    width: 770px;
    height: 400px;
    background-color: rosybrown;
    position: relative;
    margin-right: 30px;
}

.main-support .support-apply .apply-volunteer{
    width: 400px;
    height: 400px;
    background-color: rosybrown;
    position: relative;
}

.support-apply .apply-img{
    width: inherit;
    height: inherit;
    position: relative;
    overflow: hidden;
}
.support-apply .apply-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.apply-donate .apply-img img{
    width: 100%; 
}
.apply-volunteer .apply-img img{
    height: 100%;
}

.apply-img:after {
    content: '';
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.548);
}

.apply-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
}
.apply-text h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.support-apply a {
    display: block;
    width: 130px;
    height: 40px;
    border : 2px solid white;
    border-radius: 20px;
    color: white;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    font-size: 1.25rem;
    font-weight: 600;
    transition: 300ms;
}

.support-apply a:hover {
    background-color: white;
    color: black;
}

/*오시는길 문의사항 사이트안내*/

.main-guidance {
    background-color: var(--color-lightblue);
    width: inherit;;
    display: flex;
    justify-content: center;
    align-items: center;

}
.guidance-wrap {
    width: 1200px;
    height: 600px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.guidance-container {
    display: flex;
    justify-content: space-between;
}
.guidance-container > .guidance-content{
    width: 490px;
    height: 420px;
}

.guidance-container > .guidance-content.info-content {
    margin-right: 30px;

}

.guidance-container > .guidance-content.site-content {
    border: 1px solid var(--color-gray);
    background-color: var(--color-lightgray);
    display: flex;
    align-items: center;
}

.guidance-container > .guidance-content > .map, .questions {
    width: inherit;
    height: 200px;
    background-color: white;
    border: 1px solid var(--color-gray);
    box-sizing: border-box;
   padding: 0 35px;
}

.guidance-container > .guidance-content > a.map {
    display: block;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .map-text {
    margin-right: 50px;
    flex: 1;
}

.map-text h3,
.questions h3
{
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: 600;
}

.map-img {
    width: 130px;
}

.map-img img {
    width: 100%;
}

.questions {
    background-color: var(--color-lightorange);
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.questions .tel {
    font-size: 1.75rem;
    font-weight: 600;
    margin-top: 30px;
}
/*참고사이트*/
ul.other-site {

    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul.other-site li {

    width: 230px;
    height: 195px;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul.other-site li a {
    display: block;
    width: inherit;
    text-align: center;
}
ul.other-site li a img {
    width: 100px;
}
ul.other-site li a span {
    
    display: block;
}
ul.other-site li a span:nth-child(2){
    font-size: 1.25rem;
}

ul.other-site li:nth-child(1),
ul.other-site li:nth-child(2) {
    border-bottom: 1px solid var(--color-gray);
}
ul.other-site li:nth-child(1),
ul.other-site li:nth-child(3){
    border-right: 1px solid var(--color-gray);
}


/*footer*/
.footer-top, .footer-bottom {
    width: inherit;
    border-top: 1px solid var(--color-gray);
    display: flex;
    padding: 0px 30px;
}
.footer-top {
    height: 40px;
    justify-content: space-between;
}
.footer-top p a {
    display: inline-block;
    margin-right: 10px;
    
}
.footer-top select {
    height: inherit;
    border: none;
    background-color: var(--color-lightgray);
}
.footer-bottom{

}
a.footer-logo {
    display: inline-block;
    width: 100px;
}
a.footer-logo img {
    width: 100%;
}