
/*00서브비주얼*/
.sub-visual {
    position: relative;
    color: white;
    border-bottom: 4px solid var(--color-blue);
}
.sub-visual .sub-visual-img{
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
}
.sub-visual .sub-visual-img img {
    width: 100%;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sub-visual .sub-visual-img:after {
    content: '';
    width: inherit;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.479);
    position: absolute;
    top: 0;
    left: 0;
}
.sub-visual .sub-visual-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.sub-visual .sub-visual-title span {
    display: inline-block;
    width: 60px;
    height: 4px;
    background-color: var(--color-blue);
    margin-bottom: 10px;
}
.sub-visual .sub-visual-title h2 {
    font-size: 2rem;
}

/*00메뉴*/
nav.intro-tab {
    position: relative;
    top: -63px;
    /*메뉴 높이*/
}
nav.intro-tab ul{
    display: flex;
    margin: 0 auto;
    width: 1200px;
    height: 60px;
}
nav.intro-tab ul li {
    flex: 1;
}
nav.intro-tab ul li:last-child a{
    border-right: 1px solid gray;
}
nav.intro-tab ul li a {
    background-color: rgba(20, 20, 66, 0.56);
    color: white;
    display: block;
    height: 58px;
    line-height: 58px;
    text-align: center;
    border: 1px solid gray;
    border-right: none;
    border-bottom: none;
}
nav.intro-tab ul li a.on{
    border: 4px solid var(--color-blue);
    border-bottom: 1px solid white;
    line-height: 58px;
    background-color: white;
    color: black;
    font-weight: 600;
    font-size: 1.25rem;
}

/*section*/
section.sub-content {
    width: 1200px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
/*00페이지 순서*/
.page-top {
    font-size: 0.8rem;
    color: var(--color-gray);
    text-align: right;
    margin-bottom: 20px;
}
/*00타이틀*/
section.sub-content .sub-content-title {
    text-align: center; 
    margin-bottom: 80px; 
}
section.sub-content .sub-content-title h2 {
    display: inline-block;
    font-size: 2rem;
    padding-bottom: 5px;
    border-bottom: 4px solid var(--color-blue)
}
/*00본문내용*/
section.sub-content .sub-content-item p {
    font-size: 1.25rem;
}

/*01인사말 내용*/
section.intro-greeting .greeting-content .greeting-img{
    width: inherit;
    height: 430px;
    overflow: hidden;
    position: relative;
    margin-bottom: 40px;
}
.greeting-img img {
    position: absolute;
    width: 100%;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.greeting-img h3 {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    font-size: 1.75rem;
    color: white;
}

.greeting-text p{
    font-size: 1.25rem;
    margin-bottom: 30px;
}
.greeting-text .greeting-name {
    text-align: right;
}
.greeting-text .greeting-name span:nth-child(1) {
    font-weight: 600;
    font-size: 1rem;
}
.greeting-text .greeting-name span:nth-child(2) {
    font-size: 1.5rem;
}

/*02법인소개 내용*/
section.intro-corporation .corporation-content .corporation-img-wrap {
    width: inherit;
    display: flex;
    height: 320px;
    margin-bottom: 40px;
}
section.intro-corporation .corporation-content .corporation-img-wrap .corporation-img{
    width: 100%;
    height: 100%;
    background-color: rebeccapurple;
    flex:1;
    overflow: hidden;
    position: relative;
    margin-bottom: 40px;
}
section.intro-corporation .corporation-content .corporation-img-wrap .corporation-img:first-child {
    margin-right: 30px;
    box-sizing: border-box;
}
.corporation-img img {
    position: absolute;
    width: 100%;
}
.corporation-introduce {
    margin-bottom : 80px;
}
.corporation-text> .corporation-mission,
.corporation-text> .corporation-value
{
    display: flex;    
    align-items: center;
}
.corporation-text> .corporation-mission{
    margin-bottom: 30px;
}
.corporation-mission h4, 
.corporation-value h4 {
    color: white;
    background-color: var(--color-blue);
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 60px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    top: 50%;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 30px;
}
.corporation-mission h4 strong, 
.corporation-value h4 strong {
    color:yellow;
}
.corporation-mission h4:before, 
.corporation-value h4:before {
    position: absolute;
    content: '';
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid var(--color-blue);
    z-index:-1;
}
.corporation-mission h4:before{
    border: 1px solid var(--color-blue);
}
.corporation-value h4:before{
    border: 1px solid var(--color-blue);
}

.corporation-mission h4:after, 
.corporation-value h4:after {
    content: '';
    width: 100px;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 100%;
    top:50%;
    transform: translateY(-50%);
    z-index: -2;
}
.corporation-mission h4:after {
    background-color: var(--color-blue);
}
.corporation-value h4:after {
    background-color:  rgb(72, 183, 173);
}
.corporation-value h4{
    background-color: rgb(72, 183, 173);
}
.corporation-mission p,
.corporation-value p {
    flex: 1;
    padding: 20px;
} 
.corporation-mission p {
    background-color: var(--color-lightblue);
}
.corporation-value p {
    background-color: rgb(235, 253, 251);
}
.corporation-mission h4,
.corporation-value h4,
.corporation-mission p,
.corporation-value p,
.corporation-mission h4:before,
.corporation-value h4:before {
    box-shadow: 3px 3px 4px rgba(114, 114, 114, 0.5);
}
/*03운영목적*/
.purpose-text {
    text-align: center;
    position: relative;
    top: 50%;
    left:
}
.purpose-text h3{
    color: var(--color-main);
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 20px;
}
.purpose-text p {
    margin-bottom: 40px;
}
/*목적*/
.purpose-content{
    width: 100%;
}
.purpose-container {
    position: relative;
    width: 100%;
}

.purpose-container .purpose-name{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
    border:10px solid rgb(204, 204, 204);
    box-shadow: 3px 3px 4px rgba(114, 114, 114, 0.5);
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
}
.purpose-container .purpose-name .fas {
    margin-bottom: 10px;
    color: var(--color-gray);
    font-size: 2rem;
}
.purpose-container .purpose-name h5{
    font-size: 1.25rem;
    font-weight: 800;
}

.purpose-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.purpose-list-item {
    width: 590px;
    height: 200px;
    box-shadow:3px 3px 4px rgba(114, 114, 114, 0.5);
}

.purpose-list .list1 {
    background-color: var(--color-lightblue);
}
.purpose-list .list2 {
    background-color: rgb(205, 236, 243);
}
.purpose-list .list1,
.purpose-list .list2 {
    margin-bottom: 20px;
}

.purpose-list .list3 {
    background-color: var(--color-lightgray);
}
.purpose-list .list4 {
    background-color: var(--color-lightorange);
}
.purpose-list-item span{
    display: inline-block;
    padding: 7px;
    background-color: rgb(200, 215, 250);
    font-weight: 600;
}
.purpose-list-item {
    position: relative;
}

.list2 span,
.list4 span {
    position: absolute;
    right: 0;
}
.list1 p,
.list3 p {
    padding-left: 60px;
}
.list2, .list4 {
    display: flex;
    justify-content: flex-end;
}
.list2 p,
.list4 p {
    padding-right: 60px;
    text-align: right;
}

section.sub-content .sub-content-item .purpose-container .purpose-list-item p{
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.purpose-list-item p strong {
    font-size: 1.75rem;
}

/*04연혁*/
.history-container > div {
    width: 600px;
    /* background-color: lightcoral; */
    box-sizing: border-box;
    position: relative;
    /* border: 1px solid black; */
}

.history-container > div.history-right {
    margin-left: 50%;
    padding-left: 40px;

}
.history-container > div.history-right:before {
    content: '';
    left: -1px;
    top: 0;
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: var(--color-gray);
}  
.history-container > div.history-right:first-child:before {
    top: 15px;
    height: calc(100% - 15px);
}

.history-container > div.history-left {
    text-align: right;
    padding-right: 40px;
}
.history-container > div.history-left:before {
    content: '';
    right: -1px;
    top: 0;
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: var(--color-gray);
}  

.history-container > div > h2 {
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 10px;
    position: relative;
}
.history-container > div.history-right > h2:before {
    content:'';
    position: absolute;
    left:-48px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 3px solid var(--color-orange);
    background-color: white;
    box-sizing: border-box;
    top: 50%;
    transform: translateY(-50%);
}
.history-container > div.history-left > h2:before {
    content:'';
    position: absolute;
    right:-48px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 3px solid var(--color-orange);
    background-color: white;
    box-sizing: border-box;
    top: 50%;
    transform: translateY(-50%);
}

.history-container > div > ol {
    padding-bottom: 60px;
}

.history-container > div li {
    line-height: 35px;
}

.history-container > div li span {
    font-weight: 600;
    color: var(--color-gray);
}

/*05기관현황*/

/*표*/
.overview-content table {
    width: 100%;
    border-collapse: collapse;
    border-top : 3px solid var(--color-main);
    font-size: 1.25rem;
}
.overview-content table tr th,
.overview-content table tr td {
    border:1px solid gray;
    padding: 7px 20px;
    box-sizing: border-box;
}

.overview-content table tr th {

    background-color: rgb(248, 248, 248);
    color: var(--color-main);
}

.overview-content table caption {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
    margin: 100px 0 20px 0;
}

/*06함께하는 사람들*/
.staff-container input {
    display: none;
}
.staff-content {
    display: none;
}

input[id=chart]:checked ~ .slide1,
input[id=division]:checked ~ .slide2,
input[id=committee]:checked ~ .slide3{
    display:block;
}
input[id=chart]:checked ~ .staff-btn label[for=chart],
input[id=division]:checked ~ .staff-btn label[for=division],
input[id=committee]:checked ~ .staff-btn label[for=committee]{
    background-color: var(--color-lightblue);
    font-weight: 600;
    color: black;
}
.staff-btn {
    text-align: center;
    margin-bottom: 80px;
}
.staff-btn label{
    display:  inline-block;
    width: 20%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 1.5rem;
    border:1px solid var(--color-blue);
    margin-right: 20px;
    color: var(--color-gray);
}
.staff-btn label:last-child {
    margin-right: none;
}
/*조직도*/

/*업무분장*/
/*운영위원회*/
.staff-content table {
    width: 100%;
    border-collapse: collapse;
    border-top : 3px solid var(--color-main);
    font-size: 1.25rem;
}
.staff-content table tr th,
.staff-content table tr td {
    border:1px solid gray;
    padding: 7px 0;
    box-sizing: border-box;
}

.staff-content table tr th {
    /* width: 180px;
    height: 30px; */
    background-color: rgb(248, 248, 248);
    color: var(--color-main);
}
.staff-content table tr td {
    padding: 7px 20px;
}
.staff-content table tr td.center {
    text-align: center;

}
.map-content .map-text > div{
    display: flex;
}
.map-content .map-text h4{
    font-size: 1.5rem;
    width: 300px;
}
