/* 00-1 Sub visual */
.sub-visual {
  position: relative;
  color: white;
  height: 400px;
}
.sub-visual .sub-visual-img{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.sub-visual .sub-visual-img img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sub-visual .sub-visual-img:after {
  content: '';
  width: inherit;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.479);
  position: absolute;
  top: 0;
  left: 0;
}
.sub-visual .sub-visual-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.sub-visual .sub-visual-title span {
  display: inline-block;
  width: 60px;
  height: 4px;
  background-color: var(--color-blue);
  margin-bottom: 10px;
}
.sub-visual .sub-visual-title h2 {
  font-size: 30px;
}

/* 00-2 menu */
nav.intro-tab {
  position: absolute;
  bottom: 0;
  width: 100%;
}
nav.intro-tab ul {
  display: flex;
  margin: auto;
  width: 1200px;
  height: 40px;
}
nav.intro-tab ul li {
  flex: 1;
}
nav.intro-tab ul li:last-child a {
  border-right: 1px solid gray;
}
nav.intro-tab ul li a {
  background-color: rgba(20, 20, 66, 0.56);
  color: white;
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid gray;
  border-right: none;
  border-bottom: none;
}
nav.intro-tab ul li a.on {
  height: 43px;
  font-size: 18px;
  border: 1px solid white;
  background-color: white;
  color: black;
  font-weight: 600;
}

/* 00-3 subpage-section */
section.sub-content {
  width: 1170px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
/* 00-4 section page */
.page-top {
  font-size: 14px;
  color: var(--color-gray);
  text-align: right;
  margin-bottom: 20px;
}
/* 00-5 section title */
section.sub-content .sub-content-title {
  text-align: center; 
  margin-bottom: 80px; 
}
section.sub-content .sub-content-title h2 {
  display: inline-block;
  font-size: 30px;
  padding-bottom: 5px;
  border-bottom: 4px solid var(--color-blue)
}
/* 00-6 section desc */
section.sub-content .sub-content-item p {
  font-size: 18px;
}

/* 01 greeting */
section.intro-greeting .greeting-content .greeting-img {
  width: inherit;
  height: 40vh;
  overflow: hidden;
  position: relative;
  margin-bottom: 40px;
}
.greeting-img img {
  position: absolute;
  width: 120%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.greeting-img h3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
  font-size: 28px;
  color: white;
  font-style: italic;
  font-weight: normal;
}
.greeting-img h3::before,
.greeting-img h3::after {
  font-family: 'Font Awesome 5 Free'; 
  width: 20px;
  font-weight: bold;
  position: absolute;
  z-index: -2;
  opacity: .3;
  bottom: 0;
}

.greeting-img h3::before {
  content: '\f10d';
  top: -20px;
  left: -10px;
}
.greeting-img h3::after {
  content: '\f10e';
  right: 60px;
  bottom: -10px;
}

.greeting-text {
  padding: 0 80px;
  margin: auto;
}
.greeting-text p{
  margin-bottom: 30px;
}
.greeting-text .greeting-name {
  text-align: right;
}
.greeting-text .greeting-name span:nth-child(1) {
  font-weight: 600;
  font-size: 14px;
}
.greeting-text .greeting-name span:nth-child(2) {
  font-size: 28px;
  font-family: 'Song Myung', serif;
}

/* 02 purpose */
/* purpose-title */
.purpose-title {
  text-align: center;
  position: relative;
  top: 50%;
}
.purpose-title h3 {
  color: var(--color-main);
  font-size: 24px;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 20px;
}
.purpose-title p {
  margin-bottom: 40px;
  font-size: 20px;
}
.purpose-content {
  width: 100%;
}

/* purpose-desc */
.purpose-desc {
  position: relative;
  width: 100%;
}
.purpose-name {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: white;
  border: 5px solid var(--color-silver);
  box-shadow: 3px 3px 4px rgba(114, 114, 114, 0.5);
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
}
.purpose-desc .purpose-name .fas {
  margin-bottom: 10px;
  color: var(--color-gray);
  font-size: 2rem;
}
.purpose-desc .purpose-name h5 {
  font-size: 1.25rem;
  font-weight: 800;
}
.purpose-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.purpose-list {
  width: 570px;
  height: 180px;
  border: 1px solid var(--color-gray);
  padding: 50px 80px;
  position: relative;
}
.purpose-lists .list1,
.purpose-lists .list4 {
  background-color: var(--color-lightmain)
}
.purpose-lists .list2,
.purpose-lists .list3 {
  background-color: var(--color-lightgray)
}
.purpose-lists .list1,
.purpose-lists .list2 {
  margin-bottom: 20px;
}
.purpose-list span {
  position: absolute;
  display: inline-block;
  padding: 7px;
  background-color: white;
  font-weight: 600;
  top: 0;
}
.list1 span, .list3 span {
  left: 0;
}
.list2 span, .list4 span {
  right: 0;
}
.purpose-list > div {
  display: flex;
  align-items: center;
}
.purpose-list > div img {
  width: 80px;
  margin-right: 25px;
}
.purpose-desc .purpose-lists .purpose-list > p {
  font-size: 20px;
}
.purpose-list p strong {
  font-size: 24px;
}

/* 03 corporation */
.corporation-intro {
  margin-bottom: 100px;
  display: flex;
}
.corporation-text strong {
  display: block;
  font-size: 25px;
  margin-bottom: 15px;
}
.corporation-text p {
  margin-bottom: 20px;
}
.corporation-img {
  width: 280px;
  margin-right: 40px;
}
.corporation-img img{
  width: inherit;
}

/* holt-intro */
.holt-intro {
  display: flex;
  align-items: flex-start;
}
.holt-mission,
.holt-value {
  flex: 1;
  display: flex;    
  align-items: flex-start;

}
.holt-mission {
  margin-right: 30px;
}
.holt-mission h4, 
.holt-value h4 {
  color: white;
  background-color: var(--color-blue);
  font-size: 1.5rem;
  font-weight: 600;
  margin-right: 30px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  text-align: center;
  top: 50%;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 30px;
}
.holt-mission h4 strong, 
.holt-value h4 strong {
  color: yellow;
}
.holt-mission h4:before, 
.holt-value h4:before {
  position: absolute;
  content: '';
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid var(--color-blue);
  z-index: -1;
}
.holt-mission h4:before {
  border: 1px solid var(--color-blue);
}
.holt-value h4:before {
  border: 1px solid var(--color-blue);
}
.holt-mission h4:after, 
.holt-value h4:after {
  content: '';
  width: 100px;
  height: 1px;
  background-color: black;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: -2;
}
.holt-mission h4:after {
  background-color: var(--color-blue);
}
.holt-value h4:after {
  background-color: var(--color-main);
}
.holt-value h4 {
  background-color: var(--color-main);
}
.holt-mission p,
.holt-value p {
  height: 250px;
  flex: 1;
  padding: 20px;
  border: 1px solid var(--color-blue);
  background-color: white;
} 
.holt-value p {
  border-color: var(--color-main);
}

/* 04 overview */
.overview-content table {
  width: 750px;
  margin: auto;
  border-collapse: collapse;
  border-top : 3px solid var(--color-main);
}
.overview-content table tr th,
.overview-content table tr td {
  border: 1px solid var(--color-silver);
  padding: 7px 20px;
  box-sizing: border-box;
}
.overview-content table tr th {
  background-color: rgb(248, 248, 248);
  color: var(--color-main);
}
.overview-content table caption {
  font-size: 22px;
  font-weight: 600;
  text-align: left;
  margin: 100px 0 20px 0;
}

/* 05 history */
.history-container > div {
  width: 585px;
  box-sizing: border-box;
  position: relative
}
.history-container > div.history-right {
  margin-left: 50%;
  padding-left: 40px;

}
.history-container > div.history-right:before {
  content: '';
  left: -1px;
  top: 0;
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: var(--color-gray);
}  
.history-container > div.history-right:first-child:before {
  top: 15px;
  height: calc(100% - 15px);
}
.history-container > div.history-left {
  text-align: right;
  padding-right: 40px;
}
.history-container > div.history-left:before {
  content: '';
  right: -1px;
  top: 0;
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: var(--color-gray);
}  
.history-container > div > h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  position: relative;
}
.history-container > div.history-right > h2:before {
  content: '';
  position: absolute;
  left: -48px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 3px solid var(--color-orange);
  background-color: white;
  box-sizing: border-box;
  top: 50%;
  transform: translateY(-50%);
}
.history-container > div.history-left > h2:before {
  content: '';
  position: absolute;
  right: -48px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 3px solid var(--color-orange);
  background-color: white;
  box-sizing: border-box;
  top: 50%;
  transform: translateY(-50%);
}
.history-container > div > ol {
  padding-bottom: 60px;
}
.history-container > div li {
  line-height: 35px;
}
.history-container > div li span {
  font-weight: 600;
  color: var(--color-gray);
}

/* 06 함께하는 사람들 */
.staff-container input {
  display: none;
}
.staff-content {
  display: none;
}
input[id=chart]:checked ~ .slide1,
input[id=division]:checked ~ .slide2,
input[id=committee]:checked ~ .slide3 {
  display: block;
}
input[id=chart]:checked ~ .staff-btn label[for=chart],
input[id=division]:checked ~ .staff-btn label[for=division],
input[id=committee]:checked ~ .staff-btn label[for=committee] {
  background-color: var(--color-lightmain);
  font-weight: 600;
  color: black;
}
.staff-btn {
  text-align: center;
  margin-bottom: 100px;
}
.staff-btn label {
  display: inline-block;
  width: 160px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  font-size: 20px;
  border: 1px solid var(--color-main);
  margin-right: 20px;
  color: var(--color-gray);
  cursor: pointer;
}
.staff-btn label:last-child {
  margin-right: none;
}

/* 06-1 조직도 */
.staff-content.slide1 {
  width: 100%;
  height: 1000px;
  position: relative;
  font-size: 18px;
}
/* 조직도 선 */
.slide1 > div {
  text-align: center;
}
.slide1 img {
  position: relative;
  top: 30px;
}

/* 관장, 부장, 과장 */
.slide1 p {
  width: 300px;
  height: 60px;
  position: absolute;
  border: 1px solid var(--color-gray);
  background-color: var(--color-lightgray);
  text-align: center;
  line-height: 60px;
  font-weight: 600;
}
.slide1 .director {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.slide1 .director {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.slide1 .general-manager {
  top: 140px;
  left: 50%;
  transform: translateX(-50%);
}
.slide1 .manager1,
.slide1 .manager2 {
  top: 300px;
}
.slide1 .manager1 {
  left: 100px;
}
.slide1 .manager2 {
  right: 100px;
}

/* 위원회 */
.slide1 > ul > li > ul.committee {
  position: absolute;
  top: 5px;
  right: 100px;
}
.slide1 > ul > li > ul.committee > li > span {
  display: block;
  width: 230px;
  height: 50px;
  background-color: var(--color-lightmain);
  border: 1px solid var(--color-gray);
  margin-bottom: 3px;
  color: black;
  text-align: center;
  line-height: 52px;
} 

/* 기획총무팀, 사회복지팀, 사례관리팀 */
.slide1 table {
  position: absolute;
  top: 410px;
  width: 300px;
  height: 300px;
  border-collapse: collapse;
  background-color: white;
}
.slide1 table th,
.slide1 table td {
  border: 1px solid var(--color-gray);
}
.slide1 table td {
  padding: 10px;
  vertical-align: top;
}
.slide1 table th {
  background-color: var(--color-lightgray);
  text-align: center;
}
.slide1 table.general-affairs {
  left: 100px;
}
.slide1 table.social-welfare {
  left: 50%;
  transform: translateX(-50%);
}
.slide1 table.case-management {
  right: 100px;
}
.slide1 table.general-affairs th,
.slide1 table.social-welfare th {
  height: 80px;
}
.slide1 table.case-management th {
  height: 40px;
}
.slide1 table.case-management td {
  width: 150px;
}
.slide1 table td span {
  display: block;
}

/* 06-2 업무분장 */
/* 06-3 운영위원회 */
.staff-content.slide2 table,
.staff-content.slide3 table {
  width: 100%;
  border-collapse: collapse;
  border-top : 3px solid var(--color-main);
}
.staff-content.slide2 table tr th,
.staff-content.slide2 table tr td,
.staff-content.slide3 table tr th,
.staff-content.slide3 table tr td {
  border: 1px solid gray;
  padding: 7px 0;
  box-sizing: border-box;
}

.staff-content.slide2 table tr th,
.staff-content.slide3 table tr th {
  background-color: rgb(248, 248, 248);
  color: var(--color-main);
}
.staff-content.slide2 table tr td,
.staff-content.slide3 table tr td {
  padding: 7px 20px;
}
.staff-content.slide2 table tr td.center,
.staff-content.slide3 table tr td.center {
  text-align: center;
}

/* 07 찾아오시는길 */
.map-img {
  width: 100%;
  height: 500px;
  background-color: var(--color-lightgray);
  margin-bottom: 20px;
}
.map-text{
  display: flex;
  justify-content: space-between;
  width: 100%;
 
}
.map-text > div {
  display: flex;
  width: 380px;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid var(--color-gray);
  border-radius: 7px;
}
.map-text h3 {
  font-size: 20px;
  font-weight: 900;
}
.map-text > div strong {
  display: block;
  font-size: 20px;
}
.map-text > div > p {
  margin-bottom: 10px;
}
.map-text .fas {
  font-size: 30px;
  margin-right: 10px;
  margin-bottom: 20px;
}
.fa-map-marked-alt {
  color: var(--color-gray);
}
.fa-bus {
  color: var(--color-blue);
}
.fa-subway {
  color: var(--color-orange);
}


/* 08사업소개-사례관리기능 */
section.sub-content .sub-content-item.case-management-content > p {
  text-align: center;
  margin-bottom: 40px;
  font-size: 20px;
}
.case-management-img {
  display: flex;
  margin-bottom: 40px;
}
.case-management-img div {
  width: 600px;
  height: 400px;
  overflow: hidden;
  position: relative;
}
.case-management-img div img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* procedure */
.management-procedure,
.welephone {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.procedure,
.welephone-content{
  text-align: center;
  width: 570px;
}

.procedure > h3,
.management-welephone > h3 {
  font-size: 1.75rem;
  margin-bottom: 20px;
}
.procedure > h3 > span,
.management-welephone > h3 > span {
  display: inline-block;
  font-size: 1.5rem;
  padding: 0 5px;
  color: white;
  background-color: var(--color-main);
  margin-right: 10px;
}
.management-welephone > h3 > span {
  background-color: var(--color-orange);
}
.procedure > p {
  color: var(--color-gray);
  margin-bottom: 20px;
  height: 40px;
}

.procedure > div,
.welephone > div {
  margin-bottom: 80px;
}
.procedure > div > p.question,
.welephone div .question {
  width: 100%;
  border: 2px solid blue;
  color: blue;
  font-weight: 600;
  padding: 5px 0;
  box-sizing: border-box;
}
.welephone-content p.question {
  border: 2px solid var(--color-orange);
  color: var(--color-orange);
}
.procedure > div > p.answer,
.welephone > div > p.answer {
  width: 100%;
  height: 120px;
  padding: 15px;
  background-color: var(--color-lightmain);
  box-sizing: border-box;
  text-align: left;
}
.welephone > div > p.answer {
  background-color: var(--color-lightgray);
  height: 300PX;
}



/* flowchart */
.case-management-flowchart {
  text-align: center;
}
.case-management-flowchart > h3 {
  display: inline-block;
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 40px;
  border-bottom: 2px solid var(--color-main);
  border-top: 2px solid var(--color-main);
}
.case-management-flowchart > h3:before {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
}
.case-management-flowchart > div {
  width: inherit;
}
.case-management-flowchart > div img {
  width: 70%;
}

/* 09 후원-후원신청 */
.support-application {
  background-color: var(--color-lightmain);
  box-sizing: border-box;
  padding: 80px 150px;
}
.support-application h3 {
  font-size: 24px;
  margin-bottom: 60px;
  text-align: center;
}
.support-application .privacy-policy {
  margin-bottom: 30px;
  text-align: center;
}
.support-application .privacy-policy label {
  font-size: 18px;
  cursor: pointer;
}
.support-application .privacy-policy > div {
  margin: 0 auto;
  width: 900px;
  background-color: white;
  height: 400px;
  overflow-y: scroll;
  padding: 30px;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 30px;
}
.support-application .privacy-policy > div p {
  margin-bottom: 10px;
}
.support-application .privacy-policy > div span {
  font-weight: 600;
}
.support-application table {
  border-collapse: collapse;
  margin-bottom: 60px;
}
.support-application table caption {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px solid var(--color-main);
  margin-bottom: 20px;
}
.support-application table tbody {
  background-color: white;
}
.support-application table tr {
  font-size: 18px;
}
.support-application table th,
.support-application table td {
  border: 1px solid var(--color-gray);
  padding: 10px 10px;
  background-color: white;
}
.support-application table th {
  width: 150px;
  color: var(--color-main);
  background-color: var(--color-lightmain);
}
.support-application table td {
  width: 800px;
}
.support-application table td input[type=text],
.support-application table td input[type=tel],
.support-application table td input[type=email] {
  border-radius: 0;
  height: 30px;
  border: 1px solid var(--color-gray);
}
.support-application table tr.ect td input{
  width: 550px;
}
.support-application > P {
  text-align: center;
  margin-bottom: 20px;
}
.support-application .support-btn {
  text-align: center;
}
.support-application .support-btn button {
  border: none;
  padding: 10px 40px;
  color: white;
  font-size: 18px;
}
.support-application .support-btn button:nth-child(1) {
  margin-right: 10px;
  background-color: var(--color-main);
}
.support-application .support-btn button:nth-child(2) {
  margin-right: 20px;
  background-color: var(--color-gray);
}
.support-application input[type=radio] {
  display: none;
}
label[for=regulary], label[for=irregulary], label[for=name1], label[for=name2], label[for=name3], label[for=amount1], label[for=amount2], label[for=amount3], label[for=means1], label[for=means2], label[for=means3] {
    display: inline-block;
    padding: 2px 30px;
    height: 30px;
  border: 1px solid var(--color-gray);
  cursor: pointer;
  text-align: center;
}
.support-application input[id=regulary]:checked ~ .btn label[for=regulary],
.support-application input[id=irregulary]:checked ~ .btn label[for=irregulary],
.support-application input[id=name1]:checked ~ .btn label[for=name1],
.support-application input[id=name2]:checked ~ .btn label[for=name2],
.support-application input[id=name3]:checked ~ .btn label[for=name3],
.support-application input[id=amount1]:checked ~ .btn label[for=amount1],
.support-application input[id=amount2]:checked ~ .btn label[for=amount2],
.support-application input[id=amount3]:checked ~ .btn label[for=amount3],
.support-application input[id=means1]:checked ~ .btn label[for=means1],
.support-application input[id=means2]:checked ~ .btn label[for=means2],
.support-application input[id=means3]:checked ~ .btn label[for=means3]
{
  background-color: var(--color-main);
  color: white;
  border: 1px solid var(--color-main)
}

/* 10 캠페인- 나눔이 필요한 이웃 */
.neighbor-container .details {
  margin-bottom: 35px;
}
.neighbor-table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  margin-bottom: 40px;
  font-size: 18px;
}
thead th  {
  border-top: 2px solid var(--color-main);
  border-bottom: 1px solid var(--color-main);
  padding: 6px 0;
}
tbody td.table-subject {
  text-align: left;
  padding-left: 10px;
}
tbody td {
  border-bottom: 1px solid var(--color-silver);
  padding: 10px 0;
}
tbody td a {
  transition: .2s;
}
tbody td a:hover {
  color: var(--color-main);
}

/* 11 본리소식-현장이야기 */
.bolli-news .activity-container {
  width: 100%;
}
.activity-container .details {
  margin-bottom: 35px;
}
.activity-container .details select {
  padding: 4px;
  font-size: 18px;
}
.activity-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.activity-list {
  width: 370px;
  margin-bottom: 40px;
  position: relative;
  border: 1px solid var(--color-silver);
}
.activity-list > a {
  width: 100%;
}
.activity-list > a em {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px 5px;
  background-color: white;
  font-size: 13px;
  font-weight: bold;
}
.activity-text {
  padding: 15px;
}
.activity-text p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}
.bolli-news .activity-img {
  width: 100%;
  height: 260px;
  position: relative;
  overflow: hidden;
}
.activity-list > a:hover .activity-img img {
  width: 150%;
}
.activity-img img {
  position: absolute;
  width: 130%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .8s;
}
.sub-content-item.activity-container .activity-date {
  color: var(--color-gray);
  font-size: 14px;
} 


/* common CSS */
/* paging */
.paging {
  margin-bottom: 30px;
}
.paging ol {
  display: flex;
  justify-content: center;
}
.paging a {
  display: block;
  width: 42px;
  height: 42px;
  text-align: center;
  line-height: 42px;
}
.paging .next a:before {
  content: '\f105';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: black;
  font-size: 0.8rem;
  display: block;
  width: 42px;
  height: 42px;
  text-align: center;
  line-height: 42px;
}
.paging .prev a:before {
  content: '\f104';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: black;
  font-size: 0.8rem;
  display: block;
  width: 42px;
  height: 42px;
  text-align: center;
  line-height: 42px;
}
.paging .first a:before {
  content: '\f100';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: black;
  font-size: 0.8rem;
  display: block;
  width: 42px;
  height: 42px;
  text-align: center;
  line-height: 42px;
}
.paging .last a:before {
  content: '\f101';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: black;
  font-size: 0.8rem;
  display: block;
  width: 42px;
  height: 42px;
  text-align: center;
  line-height: 42px;
}
.paging li a.on {
  background-color: var(--color-main);
  color: white;
}
.paging li a:hover,
.paging li a:hover:before {
  background-color: var(--color-main);
  color: white;
}

/* search */
.search {
  text-align: center;
  border-top: 1px solid var(--color-gray);
  padding: 20px 0;
  font-size: 0;
}
.search * {
  margin: 0 5px;
  height: 44px;
  border: 1px solid var(--color-gray);
}
.search select {
  width: 147px;
  font-size: 1.1rem;
}
.search input[type=search] {
  width: 260px;
  padding-left: 10px;
  box-sizing: border-box;
}
.search button {
  width: 150px;
  background-color: var(--color-lightgray);
}