
/*00-1서브비주얼*/
.sub-visual {
    position: relative;
    color: white;
    border-bottom: 4px solid var(--color-blue);
}
.sub-visual .sub-visual-img{
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
}
.sub-visual .sub-visual-img img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sub-visual .sub-visual-img:after {
    content: '';
    width: inherit;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.479);
    position: absolute;
    top: 0;
    left: 0;
}
.sub-visual .sub-visual-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.sub-visual .sub-visual-title span {
    display: inline-block;
    width: 60px;
    height: 4px;
    background-color: var(--color-blue);
    margin-bottom: 10px;
}
.sub-visual .sub-visual-title h2 {
    font-size: 2rem;
}

/*00-2메뉴*/
nav.intro-tab {
    position: relative;
    top: -63px;
}
nav.intro-tab ul {
    display: flex;
    margin: 0 auto;
    width: 1200px;
    height: 60px;
}
nav.intro-tab ul li {
    flex: 1;
}
nav.intro-tab ul li:last-child a {
    border-right: 1px solid gray;
}
nav.intro-tab ul li a {
    background-color: rgba(20, 20, 66, 0.56);
    color: white;
    display: block;
    height: 58px;
    line-height: 58px;
    text-align: center;
    border: 1px solid gray;
    border-right: none;
    border-bottom: none;
}
nav.intro-tab ul li a.on {
    border: 4px solid var(--color-blue);
    border-bottom: 1px solid white;
    line-height: 58px;
    background-color: white;
    color: black;
    font-weight: 600;
    font-size: 1.25rem;
}

/*section*/
section.sub-content {
    width: 1200px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
/*00-3 페이지 순서*/
.page-top {
    font-size: 0.8rem;
    color: var(--color-gray);
    text-align: right;
    margin-bottom: 20px;
}
/*00-4 타이틀*/
section.sub-content .sub-content-title {
    text-align: center; 
    margin-bottom: 80px; 
}
section.sub-content .sub-content-title h2 {
    display: inline-block;
    font-size: 2rem;
    padding-bottom: 5px;
    border-bottom: 4px solid var(--color-blue)
}
/*00-5 본문내용*/
section.sub-content .sub-content-item p {
    font-size: 1.25rem;
}

/*01인사말*/
section.intro-greeting .greeting-content .greeting-img {
    width: inherit;
    height: 40vh;
    overflow: hidden;
    position: relative;
    margin-bottom: 40px;
}
.greeting-img img {
    position: absolute;
    width: 120%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.greeting-img h3 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    font-size: 1.75rem;
    color: white;
}
.greeting-text p{
    font-size: 1.25rem;
    margin-bottom: 30px;
}
.greeting-text .greeting-name {
    text-align: right;
}
.greeting-text .greeting-name span:nth-child(1) {
    font-weight: 600;
    font-size: 1rem;
}
.greeting-text .greeting-name span:nth-child(2) {
    font-size: 1.5rem;
}

/*02법인소개*/
section.intro-corporation .corporation-content .corporation-img-wrap {
    width: inherit;
    display: flex;
    height: 320px;
    margin-bottom: 40px;
}
section.intro-corporation .corporation-content .corporation-img-wrap .corporation-img {
    width: 100%;
    height: 100%;
    background-color: rebeccapurple;
    flex: 1;
    overflow: hidden;
    position: relative;
    margin-bottom: 40px;
}
section.intro-corporation .corporation-content .corporation-img-wrap .corporation-img:first-child {
    margin-right: 30px;
    box-sizing: border-box;
}
.corporation-img img {
    position: absolute;
    width: 100%;
}
.corporation-introduce {
    margin-bottom: 80px;
}
.corporation-text> .corporation-mission,
.corporation-text> .corporation-value {
    display: flex;    
    align-items: center;
}
.corporation-text > .corporation-mission {
    margin-bottom: 30px;
}
.corporation-mission h4, 
.corporation-value h4 {
    color: white;
    background-color: var(--color-blue);
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 60px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    top: 50%;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 30px;
}
.corporation-mission h4 strong, 
.corporation-value h4 strong {
    color: yellow;
}
.corporation-mission h4:before, 
.corporation-value h4:before {
    position: absolute;
    content: '';
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid var(--color-blue);
    z-index: -1;
}
.corporation-mission h4:before {
    border: 1px solid var(--color-blue);
}
.corporation-value h4:before {
    border: 1px solid var(--color-blue);
}
.corporation-mission h4:after, 
.corporation-value h4:after {
    content: '';
    width: 100px;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: -2;
}
.corporation-mission h4:after {
    background-color: var(--color-blue);
}
.corporation-value h4:after {
    background-color: rgb(72, 183, 173);
}
.corporation-value h4 {
    background-color: rgb(72, 183, 173);
}
.corporation-mission p,
.corporation-value p {
    flex: 1;
    padding: 20px;
} 
.corporation-mission p {
    background-color: var(--color-lightblue);
}
.corporation-value p {
    background-color: rgb(235, 253, 251);
}
.corporation-mission h4,
.corporation-value h4,
.corporation-mission p,
.corporation-value p,
.corporation-mission h4:before,
.corporation-value h4:before {
    box-shadow: 3px 3px 4px rgba(114, 114, 114, 0.5);
}

/*03운영목적*/
.purpose-text {
    text-align: center;
    position: relative;
    top: 50%;
}
.purpose-text h3 {
    color: var(--color-main);
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 20px;
}
.purpose-text p {
    margin-bottom: 40px;
}
.purpose-content {
    width: 100%;
}
.purpose-container {
    position: relative;
    width: 100%;
}
.purpose-container .purpose-name {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
    border:10px solid rgb(204, 204, 204);
    box-shadow: 3px 3px 4px rgba(114, 114, 114, 0.5);
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
}
.purpose-container .purpose-name .fas {
    margin-bottom: 10px;
    color: var(--color-gray);
    font-size: 2rem;
}
.purpose-container .purpose-name h5 {
    font-size: 1.25rem;
    font-weight: 800;
}
.purpose-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.purpose-list-item {
    width: 590px;
    height: 200px;
    box-shadow: 3px 3px 4px rgba(114, 114, 114, 0.5);
}
.purpose-list .list1 {
    background-color: var(--color-lightblue);
}
.purpose-list .list2 {
    background-color: rgb(205, 236, 243);
}
.purpose-list .list1,
.purpose-list .list2 {
    margin-bottom: 20px;
}
.purpose-list .list3 {
    background-color: var(--color-lightgray);
}
.purpose-list .list4 {
    background-color: var(--color-lightorange);
}
.purpose-list-item span {
    display: inline-block;
    padding: 7px;
    background-color: rgb(200, 215, 250);
    font-weight: 600;
}
.purpose-list-item {
    position: relative;
}
.list2 span, .list4 span {
    position: absolute;
    right: 0;
}
.list1 p, .list3 p {
    padding-left: 60px;
}
.list2, .list4 {
    display: flex;
    justify-content: flex-end;
}
.list2 p, .list4 p {
    padding-right: 60px;
    text-align: right;
}
section.sub-content .sub-content-item .purpose-container .purpose-list-item p {
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.purpose-list-item p strong {
    font-size: 1.75rem;
}

/*04 연혁*/
.history-container > div {
    width: 600px;
    box-sizing: border-box;
    position: relative
}
.history-container > div.history-right {
    margin-left: 50%;
    padding-left: 40px;

}
.history-container > div.history-right:before {
    content: '';
    left: -1px;
    top: 0;
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: var(--color-gray);
}  
.history-container > div.history-right:first-child:before {
    top: 15px;
    height: calc(100% - 15px);
}
.history-container > div.history-left {
    text-align: right;
    padding-right: 40px;
}
.history-container > div.history-left:before {
    content: '';
    right: -1px;
    top: 0;
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: var(--color-gray);
}  
.history-container > div > h2 {
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 10px;
    position: relative;
}
.history-container > div.history-right > h2:before {
    content: '';
    position: absolute;
    left: -48px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 3px solid var(--color-orange);
    background-color: white;
    box-sizing: border-box;
    top: 50%;
    transform: translateY(-50%);
}
.history-container > div.history-left > h2:before {
    content: '';
    position: absolute;
    right: -48px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 3px solid var(--color-orange);
    background-color: white;
    box-sizing: border-box;
    top: 50%;
    transform: translateY(-50%);
}
.history-container > div > ol {
    padding-bottom: 60px;
}
.history-container > div li {
    line-height: 35px;
}
.history-container > div li span {
    font-weight: 600;
    color: var(--color-gray);
}

/*05 기관현황*/
.overview-content table {
    width: 100%;
    border-collapse: collapse;
    border-top : 3px solid var(--color-main);
    font-size: 1.25rem;
}
.overview-content table tr th,
.overview-content table tr td {
    border: 1px solid gray;
    padding: 7px 20px;
    box-sizing: border-box;
}
.overview-content table tr th {
    background-color: rgb(248, 248, 248);
    color: var(--color-main);
}
.overview-content table caption {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
    margin: 100px 0 20px 0;
}

/*06 함께하는 사람들*/
.staff-container input {
    display: none;
}
.staff-content {
    display: none;
}
input[id=chart]:checked ~ .slide1,
input[id=division]:checked ~ .slide2,
input[id=committee]:checked ~ .slide3 {
    display: block;
}
input[id=chart]:checked ~ .staff-btn label[for=chart],
input[id=division]:checked ~ .staff-btn label[for=division],
input[id=committee]:checked ~ .staff-btn label[for=committee] {
    background-color: var(--color-lightblue);
    font-weight: 600;
    color: black;
}
.staff-btn {
    text-align: center;
    margin-bottom: 80px;
}
.staff-btn label {
    display: inline-block;
    width: 20%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 1.5rem;
    border: 1px solid var(--color-blue);
    margin-right: 20px;
    color: var(--color-gray);
    cursor: pointer;
}
.staff-btn label:last-child {
    margin-right: none;
}
/*06-1 조직도*/
.staff-content.slide1 {
    width: 100%;
    height: 1000px;
    position: relative;
}
/*조직도 선*/
.slide1 > div {
    text-align: center;
}
.slide1 img {
    position: relative;
    top: 30px;
}
/*관장, 부장, 과장*/
.slide1 p {
    width: 300px;
    height: 60px;
    position: absolute;
    border: 1px solid var(--color-gray);
    background-color: var(--color-lightgray);
    text-align: center;
    line-height: 60px;
    font-weight: 600;
}
.slide1 .director {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.slide1 .director {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.slide1 .general-manager {
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
}
.slide1 .manager1,
.slide1 .manager2 {
    top: 300px;
}
.slide1 .manager1 {
    left: 100px;
}
.slide1 .manager2 {
    right: 100px;
}
/*위원회*/
.slide1 > ul > li > ul.committee {
    position: absolute;
    top: 5px;
    right: 100px;
}
.slide1 > ul > li > ul.committee > li > span {
    display: block;
    width: 230px;
    height: 50px;
    background-color: var(--color-lightblue);
    border: 1px solid var(--color-gray);
    margin-bottom: 3px;
    color: black;
    text-align: center;
    line-height: 52px;
    font-size: 1.25rem;
} 
/*기획총무팀, 사회복지팀, 사례관리팀*/
.slide1 table {
    position: absolute;
    top: 410px;
    width: 300px;
    height: 300px;
    border-collapse: collapse;
    background-color: white;
    font-size: 1.25rem;
}
.slide1 table th,
.slide1 table td {
    border: 1px solid var(--color-gray);
}
.slide1 table td {
    padding: 10px;
    vertical-align: top;
}
.slide1 table th {
    background-color: var(--color-lightgray);
    text-align: center;
}
.slide1 table.general-affairs {
    left: 100px;
}
.slide1 table.social-welfare {
    left: 50%;
    transform: translateX(-50%);
}
.slide1 table.case-management {
    right: 100px;
}
.slide1 table.general-affairs th,
.slide1 table.social-welfare th {
    height: 80px;
}
.slide1 table.case-management th {
    height: 40px;
}
.slide1 table.case-management td {
    width: 150px;
}
.slide1 table td span {
    display: block;
}

/*06-2 업무분장*/
/*06-3 운영위원회*/
.staff-content.slide2 table,
.staff-content.slide3 table {
    width: 100%;
    border-collapse: collapse;
    border-top : 3px solid var(--color-main);
    font-size: 1.25rem;
}
.staff-content.slide2 table tr th,
.staff-content.slide2 table tr td,
.staff-content.slide3 table tr th,
.staff-content.slide3 table tr td {
    border:1px solid gray;
    padding: 7px 0;
    box-sizing: border-box;
}

.staff-content.slide2 table tr th,
.staff-content.slide3 table tr th {
    background-color: rgb(248, 248, 248);
    color: var(--color-main);
}
.staff-content.slide2 table tr td,
.staff-content.slide3 table tr td {
    padding: 7px 20px;
}
.staff-content.slide2 table tr td.center,
.staff-content.slide3 table tr td.center {
    text-align: center;
}

/*07 찾아오시는길*/
.map-content .map-img {
    width: 100%;
    height: 500px;
    background-color: var(--color-lightgray);
    margin-bottom: 20px;
}
.map-content .map-text{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.25rem;
}
.map-content .map-text > div {
    display: flex;
    width: 390px;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}
.map-content .map-text > div.address {
    background-color: var(--color-lightgray);
}
.map-content .map-text > div.bus {
    background-color: var(--color-lightblue);
}
.map-content .map-text > div.subway {
    background-color: var(--color-lightorange);
}
.map-content .map-text > div h4 {
    font-size: 1.5rem;
    font-weight: 600;
}
.map-content .map-text > div > p {
    margin-bottom: 10px;
}
.map-content .map-text > div .fas {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 30px;
}
.fa-map-marked-alt {
    color: var(--color-gray);
}
.fa-bus {
    color: var(--color-blue);
}
.fa-subway {
    color: var(--color-orange);
}


/*08사업소개-사례관리기능*/
section.sub-content .sub-content-item.case-management-content > p {
    text-align: center;
    margin-bottom: 40px;
    font-size: 1.5rem;
}
.case-management-img {
    display: flex;
    margin-bottom: 40px;
}
.case-management-img div {
    width: 600px;
    height: 400px;
    overflow: hidden;
    position: relative;
}
.case-management-img div img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.procedure {
    text-align: center;
}
.procedure > h3 {
    font-size: 1.75rem;
    margin-bottom: 20px;
}
.procedure > h3 > span {
    display: inline-block;
    font-size: 1.5rem;
    padding: 0 5px;
    color: white;
    background-color: var(--color-main);
    margin-right: 10px;
}
section.sub-content .sub-content-item.case-management-content .procedure > p {
    font-size: 1.5rem;
    color: var(--color-gray);
    margin-bottom: 20px;
}
.procedure > div {
    margin-bottom: 80px;
}
.procedure > div > p.question {
    width: 100%;
    border: 2px solid blue;
    color: blue;
    font-weight: 600;
    padding: 5px 0;
    box-sizing: border-box;
}
.procedure > div > p.answer {
    width: 100%;
    padding: 15px;
    background-color: var(--color-lightgray);
    box-sizing: border-box;
    text-align: left;
}
.procedure.welephone > h3 > span {
    background-color: var(--color-orange);
}
.procedure.welephone > div > p.question {
    border: 2px solid var(--color-orange);
    color: var(--color-orange);
}
.case-management-flowchart {
    text-align: center;
}
.case-management-flowchart > h3 {
    display: inline-block;
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 40px;
    border-bottom: 2px solid var(--color-main);
    border-top: 2px solid var(--color-main);
}
.case-management-flowchart > h3:before {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
}
.case-management-flowchart > div {
    width: inherit;
}
.case-management-flowchart > div img {
   width: 100%;;
}

/*09 후원-후원신청*/
.support-application {
    background-color: var(--color-lightgray);
    box-sizing: border-box;
    padding: 80px 150px;
    /* text-align: center; */
}
.support-application h3 {
    font-size: 1.75rem;
    margin-bottom: 60px;
    text-align: center;
}
.support-application .privacy-policy {
    margin-bottom: 30px;
    text-align: center;
}
.support-application .privacy-policy > div {
    margin: 0 auto;
    width: 900px;
    background-color: white;
    height: 400px;
    overflow-y: scroll;
    padding: 30px;
    box-sizing: border-box;
    text-align: left;
    margin-bottom: 30px;
}
.support-application .privacy-policy > div p {
    font-size: 1rem;
    margin-bottom: 10px;
}
.support-application .privacy-policy > div span {
    font-weight: 600;
}
.support-application table {
    border-collapse: collapse;
    margin-bottom: 60px;
}
.support-application table caption {
    display: inline-block;
    font-size: 1.5rem;
    border-bottom: 4px solid var(--color-blue);
    margin-bottom: 20px;
}
.support-application table tbody {
    background-color: white;
}
.support-application table tr {
    font-size: 1.25rem;
}
.support-application table th,
.support-application table td {
    border: 1px solid var(--color-gray);
    padding: 10px 10px;
    background-color: white;
}
.support-application table th {
    width: 100px;
    color: var(--color-main);
    background-color: var(--color-lightblue);
}
.support-application table td {
    width: 800px;
}
.support-application table td input[type=text],
.support-application table td input[type=tel],
.support-application table td input[type=email] {
    border-radius: 0;
    height: 30px;
    border: 1px solid var(--color-gray);
}
.support-application table tr.ect td input{
    width: 550px;
}
.support-application > P {
    text-align: center;
    margin-bottom: 20px;
}
.support-application .support-btn {
    text-align: center;
}
.support-application .support-btn button {
    border: none;
    padding: 10px 40px;
    color: white;
    font-size: 1.25rem;
}
.support-application .support-btn button:nth-child(1) {
    margin-right: 10px;
    background-color: var(--color-main);
}
.support-application .support-btn button:nth-child(2) {
    margin-right: 20px;
    background-color: var(--color-gray);
}
.support-application input[type=radio] {
    display: none;
}
label[for=regulary], label[for=irregulary], label[for=name1], label[for=name2], label[for=name3], label[for=amount1], label[for=amount2], label[for=amount3], label[for=means1], label[for=means2], label[for=means3] {
     display: inline-block;
     padding: 4px 30px;
     height: 30px;
    border: 1px solid black;
    cursor: pointer;
    text-align: center;
}
.support-application input[id=regulary]:checked ~ .btn label[for=regulary],
.support-application input[id=irregulary]:checked ~ .btn label[for=irregulary],
.support-application input[id=name1]:checked ~ .btn label[for=name1],
.support-application input[id=name2]:checked ~ .btn label[for=name2],
.support-application input[id=name3]:checked ~ .btn label[for=name3],
.support-application input[id=amount1]:checked ~ .btn label[for=amount1],
.support-application input[id=amount2]:checked ~ .btn label[for=amount2],
.support-application input[id=amount3]:checked ~ .btn label[for=amount3],
.support-application input[id=means1]:checked ~ .btn label[for=means1],
.support-application input[id=means2]:checked ~ .btn label[for=means2],
.support-application input[id=means3]:checked ~ .btn label[for=means3]
 {
    background-color: var(--color-main);
    color: white;
    border: 1px solid var(--color-main)
}

/*10 캠페인- 나눔이 필요한 이웃*/
/*11 본리소식-현장이야기*/
/*참고-메인페이지에 같은 class가 있기 때문에 .bolli-news를 추가해주어야한다!!!!*/
.bolli-news .activity-wrap {
    width: 100%;
}
.bolli-news .activity-wrap .details {
    margin-bottom: 25px;
}
.bolli-news .activity-wrap .details select {
    border: 1px solid var(--color-gray);
    padding: 4px;
    box-sizing: border-box;
    font-size: 1.1rem;
}

.bolli-news .activity-wrap .activity-content{
    display: flex;
    flex-flow: row wrap;
}
.bolli-news .activity-wrap .activity-content > .activity-list {
    flex: 0 1 33.33333%;
    margin-bottom: 20px;
}
.bolli-news .activity-wrap .activity-content > .activity-list > a {
    width: 380px;
    border: 1px solid var(--color-gray);
}
.bolli-news .activity-wrap .activity-content > .activity-list .activity-text p {
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}
.bolli-news .activity-wrap .activity-content > .activity-list .activity-text  .activity-date {
    color: var(--color-gray);
    font-size: 1rem;
}

/*페이징*/
.paging {
    margin-bottom: 30px;
}
.paging ol {
    display: flex;
    justify-content: center;
}
.paging a {
    display: block;
    width: 42px;
    height: 42px;
    text-align: center;
    line-height: 42px;
}
.paging .next a:before {
    content: '\f105';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: black;
    font-size: 0.8rem;
    display: block;
    width: 42px;
    height: 42px;
    text-align: center;
    line-height: 42px;
}
.paging .prev a:before {
    content: '\f104';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: black;
    font-size: 0.8rem;
    display: block;
    width: 42px;
    height: 42px;
    text-align: center;
    line-height: 42px;
}
.paging .first a:before {
    content: '\f100';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: black;
    font-size: 0.8rem;
    display: block;
    width: 42px;
    height: 42px;
    text-align: center;
    line-height: 42px;
}
.paging .last a:before {
    content: '\f101';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: black;
    font-size: 0.8rem;
    display: block;
    width: 42px;
    height: 42px;
    text-align: center;
    line-height: 42px;
}
.paging li a.on {
    background-color: var(--color-main);
    color: white;
}
.paging li a:hover,
.paging li a:hover:before {
    background-color: var(--color-main);
    color: white;
}
/*검색*/
.search {
    text-align: center;
    border-top: 1px solid var(--color-gray);
    padding: 20px 0;
    font-size: 0;
}
.search * {
    margin: 0 5px;
    height: 44px;
    border: 1px solid var(--color-gray);
}
.search select {
    width: 147px;
    font-size: 1.1rem;
}
.search input[type=search] {
    width: 260px;
    padding-left: 10px;
    box-sizing: border-box;
}
.search button {
    width: 150px;
    background-color: var(--color-lightgray);
}